<?xml version="1.0" ?>
<robot name="raw" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find raw_description)/urdf/materials.xacro" />
<xacro:include filename="$(find raw_description)/urdf/raw.trans" />
<xacro:include filename="$(find raw_description)/urdf/raw.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0039999999999999845 0.004999999999999649 0.07598908379273664" rpy="0 0 0"/>
    <mass value="30.074559481801863"/>
    <inertia ixx="0.147066" iyy="0.155261" izz="0.177136" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://raw_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://raw_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

