<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import arm urdf file -->
    <xacro:include filename="$(find arm_description)/urdf/arm.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="arm.ros2_control.xacro" />


    <xacro:arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
